@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: 80ch !important;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer {
  font-family: 'Rokkitt', serif;
}

hr {
  @apply border-0 mx-auto my-4;
  background-color: rgb(68, 68, 68);
  height: 1px;
  width: 80%;
}