@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: 80ch !important;
}

body {
  @apply bg-gray-200 transition duration-100;
  font-family: 'Fira Sans', sans-serif;
}

html.dark body {
  @apply bg-gray-900 text-gray-200;
}

main {
  @apply pt-4;
  position: relative;
  top: 70px;
}

p {
  @apply py-2;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer {
  font-family: 'Rokkitt', serif;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.title {
  line-height: 3.5rem;
}

label,
a.recent-post {
  font-family: 'Fira Sans', sans-serif;
}

a:hover {
  text-decoration: underline;
}

a.nuxt-link-exact-active {
  background-color: rgba(0, 0, 0, 0.3);
}

hr {
  @apply border-0 mx-auto my-4;
  background-color: rgb(68, 68, 68);
  height: 1px;
  width: 80%;
}

.fab {
  bottom: 15px;
  right: 15px;

  @media (max-width: 640px) {
    & {
      bottom: 5px;
      right: 5px;
    }
  }
}

@media (max-width: 370px) {
  .hide-too-small {
    display: none;
  }
}

.blog-item {
  @apply shadow-md rounded-lg relative overflow-hidden flex justify-center;
  /* height: 415px; */
  animation: 0.3s ease-out 0s 1 shift;

  .blog-image {
    @apply transition duration-500;
    height: 300px;
    width: 100%;
    object-fit: cover;
    /* filter: blur(3px); */
  }

  &:hover {
    .blog-title {
      @apply underline;
    }

    .blog-image {
      transform: scale(1.1);
      filter: blur(0);
    }
  }
}

.blog-image-wrapper {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

@keyframes shift {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
