body {
    @apply bg-gradient-to-br from-lightblue via-lightblue to-peach text-charcoal font-body  min-h-screen;
}

html {
  /* @apply bg-black; */
  @apply bg-lightblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title;
}
