@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-title: 'Philosopher', sans-serif;
  --font-body: 'Baloo Bhaina 2 Variable', system-ui;

  --color-foreground: #27241a;
  --color-muted: #4c4636;
  --color-divider: #a79c89;
  --color-background: #f5f5f5;
  --color-accent: #e69563;
  --color-hover: #cf492b;
  --color-badge-creative: #d4c5e0;
  --color-badge-narrative: #c9d2d3;
  --color-badge-journal: #c5d4c0;
  --color-badge-default: #d9d5cc;
}

body {
  @apply bg-gradient-to-br from-background via-background to-accent text-foreground font-body min-h-screen;
}

html {
  @apply bg-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title;
}
