body {
    @apply bg-gradient-to-br from-offwhite via-offwhite to-peach text-charcoal font-body  min-h-screen;
}

html {
    /* @apply bg-black; */
    @apply bg-offwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-title;
}
