---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
    <div>
        <div class="project-wrapper">
            <div class="flex flex-col md:flex-row-reverse gap-20 items-center">
                <div
                    class="prose bg-background shadow-md rounded my-5 p-5 text-lg md:text-xl flex-1"
                >
                    <h1 class="text-3xl md:text-4xl title text-center mb-8">
                        Hi, I'm Lindsay Wardell
                    </h1>
                    <img
                        src="/lindsay2.jpg"
                        alt=""
                        class="w-[300px] rounded-lg shadow-md md:float-right md:m-4 m-auto"
                    />
                    <p>
                        I'm a programmer and writer. I've been working in
                        software since 2015, and I currently work as a Senior
                        Software Engineer at <a
                            class="underline"
                            href="https://mangomint.com">Mangomint</a
                        >. I've worked on projects for individuals and small
                        businesses as well as large organizations. I love
                        talking to people about what they do, what they care
                        about, and what their experiences have been like.
                    </p>
                    <p>
                        Writing has always been a passion of mine. In elementary
                        school I wrote the heartfelt epic of "The Adventures of
                        Jake" as he quested around the world fighting bad guys
                        and collecting the chaos emeralds (I was a big fan of
                        Sonic the Hedgehog). In middle school I turned to
                        drawing comics (again Sonic themed) and started writing
                        stories for tabletop roleplaying games. In high school I
                        discovered a joy for worldbuilding, and started writing
                        my first novel (which has been regrettably misplaced).
                    </p>
                    <p>
                        As a young adult, I kept coming back to writing fiction,
                        and later poetry, as a way to explore what I was feeling
                        and seeing around me. Creative expression is something
                        I'm always searching for (I also love singing and
                        playing viola), but in writing I felt like I found a
                        voice and flow. I could create a world, a story, a set
                        of rules. Today, I continue to explore those worlds,
                        drawing them and telling their stories. I'm currently
                        working on a fantasy novel, which I hope to share with
                        the world some time in the next year or so.
                    </p>
                    <p>
                        Professionally, I've worked on a number of projects
                        ranging from a corporate application to a 5-person
                        startup. I've used common tools (like React or Ruby on
                        Rails) as well as less known ones (such as Elm or
                        Haskell). Personally, I enjoy working with a functional
                        programming lens, because I find it helps me organize
                        what I am doing, but I appreciate the power in
                        object-oriented languages like Kotlin and C#.
                    </p>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
