---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro"
import { getCollection } from "astro:content";

const posts = await getCollection('blog');
---

<BaseLayout>
    <Header />
    <section class="flex flex-col gap-2">
        {posts.map(post => (
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        ))}
    </section>
</BaseLayout>
