---
import BaseLayout from "@/layouts/BaseLayout.astro"
import SocialLinks from "@/components/SocialLinks.astro"
import Avatar from "@/components/Avatar.astro"
import Nav from "@/components/Nav.astro"
---

<BaseLayout hideHeader fullScreen>
	<section class="flex flex-col sm:flex-row h-screen justify-center items-center max-w-[1000px] m-auto gap-7 p-7">
		<Avatar />
		<div class="flex flex-col gap-7 flex-shrink">
			<h1 class="font-title text-3xl md:text-5xl">Hi, I'm Lindsay Wardell!</h1>
			<h2 class="font-title text-lg md:text-xl">I'm a Senior Software Engineer who loves writing functional, elegant web applications.</h2>
			<Nav />
			<SocialLinks />
		</div>
	</section>
</BaseLayout>
