---
interface Props {
  size?: 'sm' | 'md' | 'lg'
}

const { size } = Astro.props

const borderSize = (() => {
  switch (size) {
    case 'lg':
      return 'w-[350px] md:w-[450px] h-[350px] md:h-[450px]'
    case 'sm':
      return 'w-[60px] md:w-[85px] h-[60px] md:h-[85px]'
    case 'md':
    default:
      return 'w-[250px] md:w-[350px] h-[250px] md:h-[350px]'
  }
})()

const imageSize = (() => {
  switch (size) {
    case 'lg':
      return 'w-[300px] md:w-[400px]'
    case 'sm':
      return 'w-[50px] md:w-[75px]'
    case 'md':
    default:
      return 'w-[200px] md:w-[300px]'
  }
})()
---

<div transition:name="avatar">
  <div
    class=`${borderSize} rounded-full border border-foreground flex justify-center items-center aspect-square flex-grow transition duration-75`
  >
    <img
      loading="eager"
      src="/lindsay.webp"
      alt="Lindsay Wardell profile photo"
      class=`${imageSize} rounded-full aspect-square transition duration-75 object-cover`
    />
  </div>
</div>
