---
import dayjs from 'dayjs'
export interface Props {
  item: any;
}

const { item } = Astro.props;
---
<div class="blog-item bg-white dark:bg-gray-800 transition duration-100">
  <a
    href={item.link || item.url}
    class="hover:no-underline w-full"
  >
    {item.image && <div class="blog-image-wrapper">
      <img
        class="blog-image dark:bg-white transition duration-100"
        src={item.image}
        alt={item.title}
        loading="lazy"
      />
    </div>}
    <div class="p-3">
      <slot name="title">
        <h3 class="blog-title leading-8 pb-4">{ item.title }</h3>
      </slot>
      <div class="hidden md:block">
        <!-- <TagPill v-for="tag in item.tags" :key="tag">{{ tag }}</TagPill> -->
      </div>
      <p
          class="blog-snippet text-gray-600 dark:text-gray-400 transition duration-100"
        >
          { item.snippet }
        </p>
    </div>
  </a>
</div>
