---
import Avatar from "./Avatar.astro";
import Nav from "./Nav.astro"
---

<header class="p-2 flex items-center">
    <div class="flex-grow">
        <Avatar size="sm" />
    </div>
    <Nav />
</header>