---
import Avatar from "./Avatar.astro";
import Nav from "./Nav.astro"
---

<header class="p-2 flex items-center bg-gradient-to-br from-amber-950 via-black to-stone-950">
    <div class="flex-grow">
        <Avatar size="sm" />
    </div>
    <Nav />
</header>