---
import Avatar from './Avatar.astro'
import Nav from './Nav.astro'
---

<header class="p-2 flex items-center max-w-[1000px] m-auto relative z-10">
  <div class="flex-grow">
    <a href="/"> <Avatar size="sm" /></a>
  </div>
  <Nav />
</header>
