<nav class="flex gap-2" transition:name="nav">
    <a href="/">Home</a>
    <div class="text-stone-500">/</div>
    <a href="/about">About</a>
    <div class="text-stone-500">/</div>
    <a href="/blog">Blog</a>
</nav>