---
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
  photos: CollectionEntry<'photo'>[]
}

const { photos } = Astro.props
---

<BaseLayout>
  <div class="photo-grid columns-2 md:columns-3 gap-2 p-1">
    {
      photos.map((photo) => (
        <a href={`https://gaze.lindsaykwardell.com/photos/${photo.id}`} target="_blank" rel="noopener noreferrer" class="mb-2 block">
          <img
            src={photo.data.url}
            alt={photo.data.alt}
            class="rounded transition-opacity duration-300"
            loading="lazy"
          />
        </a>
      ))
    }
  </div>
</BaseLayout>

<style>
  .photo-grid:hover img {
    opacity: 0.6;
  }
  .photo-grid a:hover img {
    opacity: 1;
  }
</style>
