---
import BlogPost from './BlogPost.astro'
import Ingredient from '../components/Ingredient.vue'

const { content } = Astro.props
const { ingredients } = content
---

<BlogPost content={content}>
  <h2>Ingredients</h2>
  <ul class="list-none">
    {
      ingredients.map((ingredient) => (
        <Ingredient client:idle>{ingredient}</Ingredient>
      ))
    }
  </ul>
  <slot />
</BlogPost>
